:root{
    --primary-color: #FFE425;
    --secondary-color: #DF1F68;
    --tertiary-color: #FF43A0;

    --hero-gradient: linear-gradient(60deg,  var(--primary-color) 0%, 
    var(--secondary-color) 50%, var(--tertiary-color) 100%);
    --distance: 15vw;

    /*  PIECHART    */
    --pi: 3.14159265359;
    --a1: 60;
    --a2: 25;
    --a3: 10;
    --a4: 5;
}

.hero{
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    width: 100%;
    height: 200vh;
    position: absolute;
    left: 0;
    top: -2px;

    background: url('../Images/razzo.png');
    background-size: cover;
}


.hero-text{
    position: absolute;
    left: 0;
    bottom: calc(0rem + 6vw);
    margin: 8rem;
    /* width: clamp(100px, 80%, 650px);  */
    width: clamp(100px, 80%, 450px);        /* TODO: ADAPT USING VW */
    font-size: calc(0.5rem + 0.6vw);
}

.hero-title{
    letter-spacing: 1.5px;
}
.hero-title > p{
    margin: 1.2rem 0;
}

.hero-buttons{
    display: flex;
    gap: 1.5rem;
}
.hero-buttons > *{
    font-size: 1em;
}

/*      Descrizione         */

.descrizione-dopot{         
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
}
.testo-descrizione{
    max-width: calc(5vw + 20rem);
    margin-right: 10rem;
}

/*      Functinalities      */
.functionalities{         
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
}
.functionalities p{margin-bottom: 3rem;}
.functions{
    max-width: calc(5vw + 26rem);
    margin: 3rem 0 3rem var(--distance);
    /* background-color: red; */
}

.function{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0.5rem; 
}

.f-image{
    border-radius: 10px;
    background: black;
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.f-image        { grid-area: 1 / 1 / 3 / 2; }
.f-title        { grid-area: 1 / 2 / 2 / 3; text-align: left; align-self: center;}
.f-description  { grid-area: 2 / 2 / 3 / 3; text-align: left; font-size: 0.8rem;} 

section{
    min-height: 85vh;
}


.services{
    margin: 10rem 0;
}
.service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 0rem;
    margin: 0.5rem var(--distance) 1rem var(--distance);  
    font-size: 1.1rem;
}
.service.inverse{
    text-align: right;
}

.inverse .s-title   { grid-area: 1 / 2 / 2 / 3; justify-self: right; }
.inverse .s-subtitle{ grid-area: 2 / 2 / 3 / 3; justify-self: right;}
.inverse .s-image   { grid-area: 1 / 1 / 3 / 2; justify-self: left;}
    
.s-title    { grid-area: 1 / 1 / 2 / 2; max-width: calc(9vw + 10rem);  align-self: end;}
.s-subtitle { grid-area: 2 / 1 / 3 / 2; font-size: 0.9rem; max-width: calc(15vw + 15rem); margin-top: 1rem;}
.s-image    { grid-area: 1 / 2 / 3 / 3; max-width: 60%; justify-self: right;}

.s-image img{
    width: 100%;
    border-radius: 4rem;
}

/*      PHASES      */
.roadmap-section{position: relative; min-height: 510vh;}
.roadmap-background{
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0;
    top: -2px;

    background: url('../Images/pianeti_roadmap.png') no-repeat;
    background-size:100vw;  
    object-fit:cover;
    z-index: -1;
}

.roadmap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.phase 
{
    position: absolute;
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 0;
    max-width: calc(20vw + 10rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: calc(2rem - 0.3vw);
    background: white;
    color: black;
    
}

.phase .p-number{font-size: calc(1rem + 1.1vw); align-self: center;}
.phase .p-title{font-size: calc(0.5rem + 0.6vw);}
.phase .p-description{
    font-size: calc(0.4rem + 0.5vw);
}

.mercurio{
    right: 20vw;
    top: 30vw;
}

.venere{
    left: 47vw;
    top: 50vw;
}

.terra{
    right: 31vw;
    top: 67vw;
}

.luna{
    right: 44vw;
    top: 88vw;
}

.marte{
    left: 48vw;
    top: 106vw;
}

.giove{
    right: 35vw;
    top: 130vw;
}

.saturno{
    left: 55vw;
    top: 147vw;
}

.urano{
    right: 33vw;
    top: 169vw;
}

.nettuno{
    left: 51vw;
    top: 186vw;
}

.plutone{
    right: 41vw;
    top: 210vw;
}


.p-number{
    font-size: 3rem;
}

.p-number        { grid-area: 1 / 1 / 3 / 2; }
.p-title        { grid-area: 1 / 2 / 2 / 3; align-self: center;}
.p-description  { grid-area: 2 / 2 / 3 / 3; } 

/*      TOKEN       */
.token{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.token p{
    width: calc(30vw + 10rem);
    line-height: 1.5rem;
    margin: 1rem 0;
}
.token img  {width: calc(15vw + 10rem);}


/*      SUPPLY      */

.loader-legend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
}


/*      DAI     */

.vantaggi{
    
}



/*MOBILE*/
@media screen and (max-width: calc(400px + 16rem)) {
    .hero-text{
        margin: 0 auto;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%);
        width: clamp(100px, 80%, 650px);      /*  TODO: ADAPT USING VW  */
    }
}

@media screen and (max-width: 1260px) {
    /*.hero img{
        display: none;
    }*/
}

