:root{
    --primary-color: #FFE425;
    --secondary-color: #DF1F68;
    --tertiary-color: #FF43A0;

    --hero-gradient: linear-gradient(60deg,  var(--primary-color) 0%, 
    var(--secondary-color) 50%, var(--tertiary-color) 100%);
}

.hero{
    min-height: 100vh;
}


.hero img{
    /* position: sticky; */
    /* object-fit: contain; */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 97%, rgba(0,0,0,0) 100%);
    overflow: hidden;
}


.hero-text{
    position: absolute;
    left: 0;
    bottom: calc(0rem + 6vw);
    margin: 8rem;
    /* width: clamp(100px, 80%, 650px);  */
    width: clamp(100px, 80%, 450px);        /* TODO: ADAPT USING VW */
    font-size: calc(0.5rem + 0.6vw);
}

.hero-title{
    letter-spacing: 1.5px;
}
.hero-title > p{
    margin: 1.2rem 0;
}

.hero-buttons{
    display: flex;
    gap: 1.5rem;
}
.hero-buttons > *{
    font-size: 1em;
}

/*      Descrizione         */

.descrizione-dopot{         
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
}
.testo-descrizione{
    max-width: calc(5vw + 20rem);
    margin-right: 10rem;
}

/*      Functinalities      */
.functionalities{         
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
}
.functionalities p{margin-bottom: 3rem;}
.functions{
    max-width: calc(5vw + 20rem);
    margin: 0 10vw;
}

.function{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.f-image        { grid-area: 1 / 1 / 3 / 2; }
.f-title        { grid-area: 1 / 2 / 2 / 3; text-align: left;}
.f-description  { grid-area: 2 / 2 / 3 / 3; text-align: left;} 

.f-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

section{
    min-height: 50vh;
}

.services{
    margin: 0vw 10vw;
}
.service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    align-items: center;
}
.service.inverse{
    text-align: right;
}

.inverse .s-title   { grid-area: 1 / 2 / 2 / 3; }
.inverse .s-subtitle{ grid-area: 2 / 2 / 3 / 3; }
.inverse .s-image   { grid-area: 1 / 1 / 3 / 2; }
    
.s-title    { grid-area: 1 / 1 / 2 / 2; }
.s-subtitle { grid-area: 2 / 1 / 3 / 2; }
.s-image    { grid-area: 1 / 2 / 3 / 3; }

.s-title, .s-subtitle{
    margin-right: 10vw;
}


/*MOBILE*/
@media screen and (max-width: calc(400px + 16rem)) {
    .hero-text{
        margin: 0 auto;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%);
        width: clamp(100px, 80%, 650px);      /*  TODO: ADAPT USING VW  */
    }
}

@media screen and (max-width: 1260px) {
    /*.hero img{
        display: none;
    }*/
}

