:root{
    --primary-color: #FFE425;
    --secondary-color: #DF1F68;
    --tertiary-color: #FF43A0;

    --hero-gradient: linear-gradient(60deg,  var(--primary-color) 0%, 
    var(--secondary-color) 50%, var(--tertiary-color) 100%);
    --distance: 15vw;

    /*  PIECHART    */
    --pi: 3.14159265359;
    --a1: 60;
    --a2: 25;
    --a3: 10;
    --a4: 5;
}

.hero{
    height: 100vh;
    max-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    width: 100%;
    height: 100%;
    /* min-height: fit-content; */
    position: absolute;
    left: 0;
    top: -2px;

    background: url('../Images/hero.png') no-repeat;
     aspect-ratio: 16/9; 
    background-size: contain; 
    background-position: top right;
}


.hero-text{
    position: absolute;
    left: 0;
    top: calc(10rem + 10vw);
    margin: 8rem;
    /* width: clamp(100px, 80%, 650px);  */
    width: clamp(100px, 80%, 450px);        /* TODO: ADAPT USING VW */
    font-size: calc(0.5rem + 0.6vw);
}

@media (max-width: 760px) {
    .hero-text{
        top: calc(18rem + 5vw);
    }
    .background{
        top: 78px;
    }
    .hero{
        height: 110vw;
    }
}

.hero-title{
    letter-spacing: 1.5px;
}
.hero-title > p{
    margin: 1.2rem 0;
}

.hero-buttons{
    display: flex;
    gap: 1.5rem;
}
.hero-buttons > *{
    font-size: 1em;
}

/*      Descrizione         */

.descrizione-dopot{     
    display: grid;
    box-sizing: border-box;
    width: 100%;
    /* font-size: calc(0.2rem + 0.9vw); */
}
.testo-descrizione{
    max-width: calc(5vw + 20rem);
    justify-self: center;
}

.d-image{
    width: 100%;
}
.d-image img{
    width: 80%;
    max-width: 700px;
}

@media (min-width: 760px){
    .descrizione-dopot{
        display: flex;
    }
    .testo-descrizione{
        align-self: center;
        margin-right: 4vw;
    }
}


/*      Functinalities      */
.functionalities{         
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
}
.functionalities p{margin-bottom: 3rem;}
.functions{
    max-width: calc(5vw + 26rem);
    margin: 3rem 0 3rem var(--distance);
    /* background-color: red; */
}

.function{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 0px;
    grid-row-gap: 0.5rem; 
    place-items: center;
}

.f-image{
    border-radius: 10px;
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.f-image        { grid-area: 1 / 1 / 3 / 2; }
.f-title        { grid-area: 1 / 2 / 2 / 3; text-align: left; align-self: center;}
.f-description  { grid-area: 2 / 2 / 3 / 3; text-align: left; font-size: 0.8rem;} 


@media (max-width: 760px){
    .function{
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(3, 1fr); */
        grid-row-gap: 1.5rem; 
    }

    .f-image        { grid-area: 1 / 1 / 2 / 2; }
    .f-title        { grid-area: 2 / 1 / 3 / 2; }
    .f-description  { grid-area: 3 / 1 / 4 / 2; } 

    
}

section{
    margin-bottom: 10rem;
}


.services{
    margin-bottom: 7rem;
}
.service {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    grid-row-gap: 0rem;*/
    margin: 0.5rem var(--distance) 1rem var(--distance);  
    font-size: 1.2rem;
    
}
.service.inverse{
    text-align: right;
}

.inverse .s-title   { grid-area: 1 / 2 / 2 / 3; }
.inverse .s-subtitle{ grid-area: 2 / 2 / 3 / 3; }
.inverse .s-image   { grid-area: 1 / 1 / 3 / 2; justify-self: left;}
    
.s-title    { grid-area: 1 / 1 / 2 / 2; max-width: calc(9vw + 10rem); align-self: end;}
.s-subtitle { grid-area: 2 / 1 / 3 / 2; font-size: 0.9rem; max-width: calc(15vw + 15rem); margin-top: 1rem;}
.s-image    { grid-area: 1 / 2 / 3 / 3; max-width: 60%; justify-self: right;}

.s-image img{
    width: 100%;
    border-radius: 4rem;
}

@media (max-width: 1100px){
    .service {
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(3, 1fr);
        column-gap: 0px;*/
        grid-row-gap: 1rem; 
        place-content: center;
        place-items: center;
        margin: 10rem 0;
    }
        
    .s-image    { grid-area: 1 / 1 / 2 / 2; max-width: calc(20vw + 10rem); justify-self: unset;}
    .s-title    { grid-area: 2 / 1 / 3 / 2; max-width: calc(20vw + 10rem);}
    .s-subtitle { grid-area: 3 / 1 / 4 / 2; max-width: calc(20vw + 10rem);}

    .inverse .s-image    { grid-area: 1 / 1 / 2 / 2; justify-self: unset;}
    .inverse .s-title    { grid-area: 2 / 1 / 3 / 2; }
    .inverse .s-subtitle { grid-area: 3 / 1 / 4 / 2; }
        
    .service.inverse{
        text-align: unset;
    }
}

/*      PHASES      */
.roadmap-section{position: relative; min-height: 510vh;}
.roadmap-background{
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0;
    top: 0;

    background: url('../Images/Pianeti/Background-roadmap.png') no-repeat;
    background-size:100vw;  
    object-fit:cover;
    z-index: -1;
}

.roadmap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.phase 
{
    position: absolute;
    display: grid;
    column-gap: 3rem;
    grid-row-gap: 0;
    max-width: calc(20vw + 10rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: calc(2rem - 0.3vw);
    background: white;
    color: black;
    
}

.phase .p-number{font-size: calc(1rem + 1.1vw); align-self: center;}
.phase .p-title{font-size: calc(0.5rem + 0.6vw);}
.phase .p-description{
    font-size: calc(0.4rem + 0.5vw);
}

.mercurio{
    right: 20vw;
    top: 30vw;
}

.venere{
    left: 47vw;
    top: 50vw;
}

.terra{
    right: 31vw;
    top: 67vw;
}

.luna{
    right: 44vw;
    top: 88vw;
}

.marte{
    left: 48vw;
    top: 106vw;
}

.giove{
    right: 35vw;
    top: 130vw;
}

.saturno{
    left: 55vw;
    top: 147vw;
}

.urano{
    right: 33vw;
    top: 169vw;
}

.nettuno{
    left: 51vw;
    top: 186vw;
}

.plutone{
    right: 41vw;
    top: 210vw;
}


.p-number{
    font-size: 3rem;
}

.p-number        { grid-area: 1 / 1 / 3 / 2; }
.p-title        { grid-area: 1 / 2 / 2 / 3; align-self: center;}
.p-description  { grid-area: 2 / 2 / 3 / 3; } 

/*      TOKEN       */
.token{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.token p{
    width: calc(30vw + 10rem);
    line-height: 1.5rem;
    margin: 1rem 0;
}
.token img  {width: calc(15vw + 10rem);}


/*      SUPPLY      */

.loader-legend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
}


/*      DAI     */

.vantaggi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-vantaggi{
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.card-dai{
    margin: 3rem 0;
    width: 50%;
    background: white;
    color: black;
    padding: 3rem;
    border-radius: 20px;
    font-size: calc(0.5rem + 0.5vw);
}

.card-dai h2{text-align: center; font-size: calc(1rem + 1vw);}

.vantaggio 
{
    display: grid;
    column-gap: 3rem;
    grid-row-gap: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: calc(2rem - 0.3vw);
    color: white;           /*      TODO: TO PUT BLACK ONCE BG CHANGED      */
    
}

.vantaggio .v-image{align-self: center;}
.vantaggio .v-title{font-size: calc(0.5rem + 0.6vw);}
.vantaggio .v-description{
    font-size: calc(0.5rem + 0.5vw);
}

.v-image        { grid-area: 1 / 1 / 3 / 2; }
.v-title        { grid-area: 1 / 2 / 2 / 3; align-self: center;}
.v-description  { grid-area: 2 / 2 / 3 / 3; } 

@media (max-width: 760px){
    
    .vantaggio{
        grid-template-columns: 1fr;
        padding: unset; 
        row-gap: 1rem;
        column-gap: unset;
        margin: 3rem 0;
    }

    .v-image        { grid-area: 1 / 1 / 2 / 2; }
    .v-title        { grid-area: 2 / 1 / 3 / 2; }
    .v-description  { grid-area: 3 / 1 / 4 / 2; } 
}


/*MOBILE*/
@media screen and (max-width: calc(400px + 16rem)) {
    .hero-text{
        margin: 0 auto;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%);
        width: clamp(100px, 80%, 650px);      /*  TODO: ADAPT USING VW  */
    }
}

@media screen and (max-width: 1260px) {
    /*.hero img{
        display: none;
    }*/
}

