:root{
    /*  Font family and colors    */
    --ff-primary: sans-serif, arial;
    /* --ff-primary: sans-serif, arial; */

    --hero-left: rgba(84,58,183,1);
    --hero-right: rgba(0,172,193,1);

    --title-red: #E73442;
    --title-green: #50F9A1;

    --button: #0060F6;

    --first: #523CB7;
    --first-shadow: rgba(82,60,183,0.5);
    --second: #2C71BC;
    --second-shadow: rgba(44,113,188,0.5);
    --third: #03A8C1;
    --third-shadow: rgba(3,168,193,0.5);
}

*, *::after, *, ::before{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p, span{
    margin: 0;
}

body,
html{
    padding: 0;
    font-family: var(--ff-primary);
    font-size: 1.3125rem;
    line-height: 1.6;
}

body{
    background: rgb(219,219,219);
    background: linear-gradient(220deg, rgba(219,219,219,1) 0%, rgba(237,237,237,1) 35%, rgba(255,255,255,1) 100%); 
}

/*  Section padding starting from the second    */
section{
    padding: 3rem 0;
}
section:first-of-type{
    padding: 0;
}

h1{
    font-weight: bold;
}

/*

    HERO

*/  

.hero-section{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;

    background: linear-gradient(60deg,  rgba(84,58,183,1) 0%, 
                                        rgba(0,172,193,1));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}   

.title,
.subtitle{
    color: white;
    text-align: center;
    margin-bottom: 1.4em;
}

/* Utility class for title and subtitle*/
.text-line{
    max-width: 30rem;
}

.title h1 span:first-of-type{
    color: var(--title-green);
}
.title h1 span:last-of-type{
    color: var(--title-red);
}

.subtitle{
    color: rgba(255, 255, 255, 0.85);
}

.subtitle p{
    font-size: 0.8em;
}

.buttons button{
    background: var(--button);
    border: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

.buttons button:first-child{
    /* margin-right: 1.5em; */
}

.buttons button:hover,
.buttons button:focus{
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hero-right);
    transform: translateY(-0.25em);

    color: rgba(255, 255, 255, 0.75);
}

/*

    SERVICES

*/

.services-section{
    height: max-content;
}

.services-section h4{
    font-weight: 600;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    border: 2px solid;
    border-radius: 20px;
    max-width: 860px;
}

 .image{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    object-position: center;
    max-width: 320px;
}

.short{
    /* font-size: 0.9em;
    margin-top: 0.5em; */
}
.first  .short          { color: var(--first); }
.second .short          { color: var(--second); /*margin-left: 1.5em;*/}  
/* .second .description    { margin-left: 2em;}
.first .description    { margin-right: 2em;}
.third .description    { margin-right: 2em;} */
.third  .short          { color: var(--third); }

.description{
    /* font-size: 0.7em;
    letter-spacing: 1.5px; */
}



.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

    
.short       { grid-area: 1 / 1 / 2 / 3; }
.description { grid-area: 2 / 1 / 3 / 3; }
/* .image       { grid-area: 1 / 1 / 3 / 2; } */


.first{
    /* transform: translateX(1em); */
    /* border: 2px solid var(--first); */
    border: none;
    box-shadow: var(--first-shadow) 5px 5px 10px 0px;
}

.second{
    /* transform: translateX(-1em); */
    border: none;
    /* border: 2px solid var(--second); */
    box-shadow: var(--second-shadow) -5px 5px 10px 0px;
}

.third{
    /* transform: translateX(1em); */
    /* border: 2px solid var(--third); */
    border: none;
    box-shadow: var(--third-shadow) 5px 5px 10px 0px;
}

/*

    SUPPORTERS

*/

.supporters{
    text-align: center;
}

.supporter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.supporter img{
    width: 200px;
    border: 2px solid red;
    border-radius: 15px;
    height: auto;
}

/*

    FOOTER

*/


footer{
    background: linear-gradient(60deg,  rgba(84,58,183,1) 0%, 
    rgba(0,172,193,1));
    color: white;
}

.content-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1rem; 
}

    .social-icons   { grid-area: 2 / 1 / 3 / 2;}
    .footer-logo    { grid-area: 1 / 1 / 2 / 2; }
    .contact        { grid-area: 3 / 1 / 4 / 2; }
    .copyright      { grid-area: 4 / 1 / 5 / 2; } 


.footer-logo{
    display: flex;
    justify-content: center;
    position: relative;
}
.footer-logo::after{
    content: "DOPOT.IT";
    display: block;
    position: absolute;
    bottom: 0;
}

.social-icons img{
    flex: 1, 1, auto;
    max-width: 100px;
}

.social-icons {
    text-align:center;
}

.align-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.contact p,
.copyright{
    font-size: 1rem;
}

/*

    RESPONSIVE

*/

@media screen and (min-width: 560px){

    .short          { grid-area: 1 / 2 / 2 / 3; }
    .description    { grid-area: 2 / 2 / 3 / 3; }
    .image          { grid-area: 1 / 1 / 3 / 2; }

    .second .short       { grid-area: 1 / 1 / 2 / 2; }
    .second .description { grid-area: 2 / 1 / 3 / 2; } 
    .second .image       { grid-area: 1 / 2 / 3 / 3; } 

    .first, .second, .third{
        transform: translate(0);
    }
}

@media screen and (min-width: 780px){
    .content-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }

    .social-icons   { grid-area: 2 / 1 / 3 / 2;}
    .footer-logo    { grid-area: 1 / 2 / 2 / 3; }
    .contact        { grid-area: 1 / 3 / 2 / 4; }
    .copyright      { grid-area: 2 / 3 / 3 / 4; } 

    .contact{
        justify-content: end;
    }
}